<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TreeView2.Properties.Settings.TreeView2ConnectionString"
            connectionString="Data Source=ABDUO-SABER;Initial Catalog=TreeView2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TreeView2.Properties.Settings.TreeViewtestConnectionString"
            connectionString="Data Source=ABDUO-SABER;Initial Catalog=TreeViewtest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>